* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
.calculator {
    display: grid;
    position: relative;
    text-align: center;
    border: 10px solid #68696d;
    border-radius: 12px;
  }
.calculator input {
    grid-column: span 4;
    height: 100px;
    border: 0;
    outline: none;
    padding: 0px 30px 0px 30px;
    font-size: 20px;
    text-align: right;
  }
.calculator span {
    padding: 20px;
    background: #30888a;
    border: 1px solid rgba(0, 0, 0, 0.103);
    cursor: pointer;
    border-radius: 50%;
  }
.calculator span.clear {
    grid-column: span 3;
  }
.calculator span:active {
    background: #b3ab64;
  }
#calculator {
    border: 1px solid #000;
    padding: 10px;
    width: 200px;
}
#display {
    border: 1px solid #000;
    height: 40px;
    text-align: right;
    padding: 5px;
}
#buttons button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
}
